.band-title-header {
  font-size: 50px;
  font-family: 'Monoton', cursive;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  font-size:3vw;
}


.container p {
  font-family: 'Ariel';
  font-size:2vw;
  /*font-size: 25px;*/
 }
 

/*img {
  max-width:100%; 
  width:50vh;
  height:auto; 
  padding-right:10px;
  }*/



figcaption {
font-size:40%;
padding-bottom:5px;
text-align:center;
}

img {
  padding:bottom 10px;
  max-width:100%; 
  width:50vh;
  height:auto; 
}

#band-image {
  float:right;
  max-width:100%; 
  width:100vh;
  height:auto; 
  padding-top: 10px;
  padding-bottom: 10px;
}

#icon-image {
/*padding-right: 10px;
padding-left: 10 px;*/
width:110px;
height:auto;
}

 
  




 
