.band-title-header {
  font-size: 50px;
  font-family: 'Monoton', cursive;
  text-align: center;
}

.flex-row {
  display: flex;
  justify-content:left;
  align-items:center;
  flex-direction: row;
  flex-wrap:wrap;
  padding-bottom:10px;
  }

.text-container {
  font-family: 'Ariel';
  font-size: 18px;
  justify-content:center;
  flex-basis: 47%; 
  flex-grow:2;
  align-content:center;
  padding:10px;
  }
  
 
.quarter-container {
font-family: 'Ariel';
  font-size: 18px;
  justify-content:center;
  flex-basis: 25%; 
  flex-grow:2;
  align-content:center;
  padding:10px;
}

.third-container {
font-family: 'Ariel';
  font-size: 18px;
  justify-content:center;
  flex-basis: 33%; 
  flex-grow:2;
  align-content:center;
  padding:5px;
}

.video-link {
width:49%;
justify-content:center;
}



figcaption {
font-size:12;
font-style:italic;
padding-bottom:5px;
}

#band-image {
  width:100vh;
  height:auto;
  max-width:100%;
 }

#icon-image {
 width = 110px;
 height = 55px;
 }


#small-player {
width:200px;
}

#player-photo {
height:300px;
width:auto;
padding:10px;
}

.center {
/*  display: block;*/
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  




 
