.band-title-header {
  font-size: 50px;
  font-family: 'Monoton', cursive;
  text-align: center;
}

.container{
   height : 100vh;
   justify-content:center;
}




.container p {
  font-family: 'Ariel';
  font-size:3vw;
  /*font-size: 25px;*/
  }

.container img {
  max-width:100%; 
  width:50vw
  height:auto; 
}

/*img {
  max-width:100%; 
  width:50v;h
  height:auto; 
  padding-right:10px;
  }/*



figcaption {
font-size:40%;
padding-bottom:5px;
text-align:center;
}

.container image-column {
  padding-top: 10px;
  max-width:100%; 
  width:50vw;
  height:auto; 
}

#band-image {
  max-width:50%; 
  width:50vw;
  height:auto; 
  padding-top: 10px;
  padding-bottom: 10px;
}

#icon-image {
/*padding-right: 10px;
padding-left: 10 px;*/
width:110px;
height:auto;
}

 
  




 
